*.egg-info
*.pyc
.cache
.coverage
.externalToolBuilders
.idea
.mypy_cache
.project
.pydevproject
.pytest_cache
.settings
.tox
__pycache__
build
dist
env
docs/_build
Include
Lib
pyvenv.cfg
Scripts
venv
